/* src/index.css */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
body {
  font-family: "Montserrat", sans-serif;
}
